.selectedStation {
  width: 120px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #d9b34b;
  font-size: 1.5em;
}

div.ant-col.ant-col-7.ant-form-item-label,
div.ant-col.ant-col-20.ant-form-item-control {
  display: inline-block !important;
  margin-top: 10px;
  margin-right: 20px;
}

div.ant-col.ant-col-20.ant-form-item-control {
  width: 30%;
}

div.ant-row.ant-form-item.new-lead-rescuer-select {
  margin-left: 20px;
}

div.ant-col.ant-form-item-label {
  font-size: 18px;
  color: #ece9e9;
  margin-right: 1em;
  padding-top: 5px;
}

div.ant-select.ant-select-single.ant-select-show-arrow {
  width: 140%;
  background-color: #ece9e9;
}

div.ant-form-item-control-input-content {
  font-size: 16px;
}

div.ant-select-item-option-content,
div.ant-select-item.ant-select-item-option.ant-select-item-option-grouped {
  font-size: 16px;
  font-weight: bold;
}

div.ant-select-item.ant-select-item-group {
  font-size: 12px;
  font-weight: bold;
}

span.ant-select-arrow {
  color: #d9b34b;
}