.create-task-form {
  color: white;
  max-width: 45%;
  background-color: #272121;
  padding: 20px;
  margin: auto;
  text-align: left;
  border-radius: 20px;
  margin-top: 20vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.ant-row.ant-form-item.task-type-select,
div.ant-row.ant-form-item.transportationType {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  margin-bottom: 0;
}

div.ant-col.ant-col-22.ant-form-item-control {
  width: 40%;
  margin: 0;
}

div.create-task-form > form > div > div.ant-col.ant-col-7.ant-form-item-label {
  width: 40%;
}

button.ant-btn.ant-btn-primary.create-task-btn {
  margin: 0 40%;
  margin-top: 30px;
}
