.selectedUser {
  width: 160px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #d9b34b;
  font-size: 1.5em;
}

div.ant-row.ant-form-item.new-station-select {
  display: flex;
  justify-content: left;
}

div.ant-select.select-station-info.ant-select-single.ant-select-show-arrow {
  margin-top: 10px;
  width: 190px;
}