.header {
  top: 0;
  position: sticky;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #272121;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 20px;
  color: antiquewhite;
}
