.station {
  background-color: #272121;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  border-radius: 30px;
  margin: 30px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.station-detail {
  font-size: 1.2em;
  margin: 50px auto;
}

.station-attribute {
  color: #d9b34b;
}

.edit-btn {
  max-width: fit-content;
  justify-self: right;
  align-self: center;
  flex-grow: 1;
  height: 3em;
  margin: 2em 0.5em 2em 1em;
  color: #f6e9e9;
  background: #00579a;
  padding: 0.5em 1em;
  font-size: 1.2em;
  border: none;
  border-radius: 40px;
}

.edit-btn:hover {
  background-color: #d9b34b;
}

.delete-btn {
  max-width: fit-content;
  justify-self: right;
  align-self: center;
  flex-grow: 1;
  height: 3em;
  margin: 2em 1em 2em 0.5em;
  color: #f6e9e9;
  background: #ed1c24;
  padding: 0.5em 1em;
  font-size: 1.2em;
  border: none;
  border-radius: 40px;
}

.delete-btn:hover {
  background-color: #d9b34b;
}