.dispatcher-div {
  background-color: #272121;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  font-size: 1.3em;
  border-radius: 30px;
  margin: 30px;
  margin-bottom: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dispatcher-description {
  margin: 0;
  margin-right: 100px;
}

.dispatcher-detail {
  margin-right: 5px;
  color: #d9b34b;
}
