.admin-menu-container {
  display: block;
  width: 600px;
  background-color: #272121;
  border-radius: 30px;
  padding: 18px 20px 2px 20px;
  margin: 0 auto;
  text-align: left;
  margin-top: 20vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: ease-in-out 0.5s;
}

.admin-menu-option {
  text-align: center;
  font-size: 1.2rem;
  height: 45px;
  border-radius: 60px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  transition: 0.1s;
}

.admin-menu-option:hover {
  background-color: #363333;
}
