.register-form {
  color: white;
  width: 500px;
  background-color: #272121;
  padding: 20px;
  margin: 0 auto;
  text-align: left;
  border-radius: 20px;
  margin-top: 10vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ant-radio-wrapper {
  font-size: 15px;
}
