.create-form {
  color: white;
  width: 500px;
  background-color: #272121;
  padding: 20px;
  margin: auto;
  text-align: left;
  border-radius: 20px;
  margin-top: 20vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.create-form
  > form.ant-form.ant-form-horizontal
  > div.ant-row.ant-form-item {
  margin: 0 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

div.ant-col.ant-col-21.ant-form-item-control {
  color: #272121;
  margin: 0;
}

div.create-form
  > form.ant-form.ant-form-horizontal
  > div.ant-row.ant-form-item
  > div.ant-col.ant-col-7.ant-form-item-label {
  width: 30%;
}

div.create-form
  > form.ant-form.ant-form-horizontal
  > div.ant-row.ant-form-item
  > div.ant-col.ant-col-21.ant-form-item-control {
  width: 60%;
}

div.create-form
  > form.ant-form.ant-form-horizontal
  > div
  > div.ant-col.ant-col-21.ant-form-item-control
  > div
  > div
  > div,
div.create-form
  > form.ant-form.ant-form-horizontal
  > div
  > div
  > div
  > div
  > div
  > textarea {
  width: 100%;
}
