.edit-station-rescuer-form {
    color: white;
    max-width: 45%;
    background-color: #272121;
    padding: 20px;
    margin: auto;
    text-align: left;
    border-radius: 20px;
    margin-top: 10vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.selectedStationRescuer {
    text-align: center;
    margin-bottom: 20px;
    color: #d9b34b;
    font-size: 1.5em;
}

div.ant-row.ant-form-item.transportationType {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    margin-bottom: 0;
}

div.edit-station-rescuer-form>form>div>div.ant-col.ant-col-22.ant-form-item-control>div>div>div.ant-select.ant-select-multiple.ant-select-show-search {
    width: 100%;
    margin: 0;
}

div.edit-station-rescuer-form>form>div>div.ant-col.ant-col-7.ant-form-item-label {
    width: 40%;
}

button.ant-btn.ant-btn-primary.create-task-btn {
    margin: 0 40%;
    margin-top: 30px;
}