.rescuer {
  background-color: #272121;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  border-radius: 30px;
  margin: 30px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 30px auto;
}

.rescuer-detail {
  font-size: 1.2em;
  margin: auto;
}

.bigger-edit-btn {
  margin: 40px;
  justify-self: auto;
}
