.comment {
    background-color: #272121;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    border-radius: 30px;
    margin: 30px;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comment-detail {
    font-size: 1.2em;
    margin: 20px auto;
}

.comment-description {
    max-width: 50%;
}

.comment-attribute {
    color: #d9b34b;
}