.login-form {
  color: white;
  width: 500px;
  background-color: #272121;
  padding: 20px;
  margin: 0 auto;
  text-align: left;
  margin-top: 18vh;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.ant-col.ant-col-5.ant-form-item-label,
div.ant-col.ant-col-17.ant-form-item-control {
  display: inline-block !important;
  margin-top: 10px;
  margin-right: 20px;
}

div.ant-col.ant-col-17.ant-form-item-control {
  color: #272121;
}

div.ant-col.ant-col-5.ant-form-item-label {
  width: 25% !important;
}

div.ant-row.ant-form-item {
  margin-left: 80px;
}

span.ant-upload-picture-card-wrapper,
div.ant-radio-group.ant-radio-group-outline {
  color: #f6e9e9;
}

div.ant-row.ant-form-item.ant-form-item-with-help.ant-form-item-has-error>div>div {
  color: #ed1c24;
}

button.ant-btn.ant-btn-primary {
  margin: 30px 0 10px 170px;
  color: #f6e9e9;
  background: #00579a;
  padding: 0.5em 1em;
  font-size: 1.2em;
  border: none;
  border-radius: 40px;
}

button.ant-btn.ant-btn-primary:hover {
  background-color: #ed1c24;
}

.registerLink {
  margin-left: 48px;
  font-size: 0.95em;
}