* {
  box-sizing: border-box;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  min-height: 200px;
  line-height: initial;
  background-color: #ece9e9;
  background: url("../src/img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.linkWhite {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ed1c24 !important;
}
