.missionTask {
    background-color: #272121;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    border-radius: 30px;
    margin: 30px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.missionTask-detail {
    font-size: 1.2em;
    margin: 20px auto;
}

.missionTask-description {
    max-width: 50%;
}

.missionTask-attribute {
    color: #d9b34b;
}

.finish-btn {
    max-width: fit-content;
    justify-self: right;
    align-self: center;
    flex-grow: 1;
    height: 3em;
    margin: 2em 1em 2em 0.5em;
    color: #f6e9e9;
    background: #ed1c24;
    padding: 0.5em 1em;
    font-size: 1.2em;
    border: none;
    border-radius: 40px;
}

.finish-btn:hover {
    background-color: #d9b34b;
}